{% extends "_layouts/cp" %}
{% hook 'formBuilder2.prepCpTemplate' %}

{% set selectedSubnavItem = "forms" %}
{% set bodyClass = 'formbuilder fb-forms' %}
{% set page = 'Forms' %}

{% block pageHeader %}
  {% include 'formbuilder2/partials/header' %}
{% endblock %}

{% block content %}
  
  <section id="fb-content">
    {% if formItems|length %}
    <header class="page-header">
      <h1>{{ page|t }}</h1>
    </header>
    {% endif %}

    {# Form List #}
    {% if formItems|length %}
    <div class="forms">

      <table class="data fullwidth collapsible" id="forms">
        <thead>
          <tr>
            <th scope="col">{{ "ID"|t }}</th>
            <th scope="col">{{ "Name"|t }}</th>
            <th scope="col">{{ "Handle"|t }}</th>
            <th scope="col">{{ "Entries"|t }}</th>
            <th scope="col">{{ "Action"|t }}</th>
          </tr>
        </thead>

        <tbody>
          {% for form in formItems %}
          {% set submissions = craft.formBuilder2.getAllEntriesFromFormID(form.id) %}

          <tr data-id="{{ form.id }}" data-name="{{ form.name }}">
            <td data-title="{{ "ID"|t }}" class="id">{{ form.id }}</td>
            <td data-title="{{ "Name"|t }}" class="name"><a href="{{ url('formbuilder2/forms/' ~ form.id ~ '/edit') }}">{{ form.name }}</a></td>
            <td data-title="{{ "Handle"|t }}" class="handle">
              {{ form.handle }}
            </td>
            <td data-title="{{ "Entries"|t }}" class="count">{{ submissions|length }}</td>
            <td data-title="{{ "Action"|t }}" class="action">
              <span data-tooltip="Copy Handle"><svg class="icon copy" data-clipboard-text="{{ form.handle }}"><use xlink:href="#icon-copy" class="icon-copy"/></svg></span>
              <a href="#" class="delete-from delete" title="Delete {{ form.name }}" role="button" data-tooltip="Delete Form">
                <svg class="icon"><use xlink:href="#icon-trash" class="icon-trash"/></svg>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    {% else %}

    {# No Forms #}
    <div class="no-forms" id="noforms">
      <p>{{ "Hello! You don't have any forms yet."|t }}</p>
      <div id="create-form-button"><a href="{{ url('formbuilder2/forms/new') }}" class="create-form-button"><svg><use xlink:href="#icon-text" class="icon-text"/></svg> <span>{{ "Create a Form"|t }}</span></a></div>
    </div>
    {% endif %}

  </section>

{% endblock %}

{% set js %}
  var adminTable = new Craft.AdminTable({
    tableSelector: '#forms',
    noObjectsSelector: '#noforms',
    newObjectBtnSelector: '#newformcontainer',
    deleteAction: 'formBuilder2/form/deleteForm',
    confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}” and all its entries?"|t }}'
  });
{% endset %}
{% includeJs js %}

