{%- set id = (id is defined ? id : 'file-' ~ random()) %}

<div class="field">
  {% if label or instructions %}
    <div class="heading">
      {% if label %}
        <label{% if required is defined and required %} class="required"{% endif %}{% if id %} for="{{ id }}"{% endif %}>
          {{- label|raw -}}
        </label>
      {% endif %}
      {% if instructions %}
        <div class="instructions">{{ instructions|md }}</div>
      {% endif %}
    </div>
  {% endif %}
  <div class="input">
    <input 
      type="file"
    	{%- if id is defined %} id="{{ id }}"{% endif %}
    	{%- if handle is defined %} name="{{ handle }}"{% endif %}
    	{%- if autofocus is defined and autofocus and not craft.request.isMobileBrowser(true) %} autofocus{% endif %}>
  </div>
</div>

{# TODO: ADD MULTIPLE FILES CAPABILITY #}