{%- set id = (id is defined ? id : 'number-' ~ random()) %}
{%- set min = (min is defined ? min : null) %}
{%- set max = (max is defined ? max : null) %}

<div class="field">
  {% if label or instructions %}
    <div class="heading">
      {% if label %}
        <label{% if required is defined and required %} class="required"{% endif %}{% if id %} for="{{ id }}"{% endif %}>
          {{- label|raw -}}
        </label>
      {% endif %}
      {% if instructions %}
        <div class="instructions">{{ instructions|md }}</div>
      {% endif %}
    </div>
  {% endif %}
  <input 
    type="number"
    class="number"
    {%- if id is defined %} id="{{ id }}"{% endif %}
    {%- if max is defined %} size="{{ max }}"{% endif %}
    {%- if handle is defined %} name="{{ handle }}"{% endif %}
    {%- if value is defined %} value="{{ value }}"{% endif %}
    {%- if maxlength is defined and maxlength %} maxlength="{{ maxlength }}"{% endif %}
    {%- if autofocus is defined and autofocus and not craft.request.isMobileBrowser(true) %} autofocus{% endif %}
    {%- if required is defined and required %} required {% endif %}
    {%- if placeholder is defined %} placeholder="{{ placeholder }}"{% endif %}
    autocomplete="off">
</div>