<div class="field">
	{% if label or instructions %}
	<div class="heading">
		{% if label %}
			{%- set id = (id is defined and id ? id : null) %}	
			<label{% if required is defined and required %} class="required"{% endif %}{% if id %} for="{{ id }}"{% endif %}>
				{{- label|raw -}}
			</label>
		{% endif %}
		{% if instructions %}
			<div class="instructions">{{ instructions|md }}</div>
		{% endif %}
	</div>
	{% endif %}
	<div class="input">
	{%- for key, option in options %}
		{%- set optionLabel = (option.label is defined ? option.label : option) %}
		{%- set optionValue = (option.value is defined ? option.value : key) -%}
		{%- set id = 'radio-'~random() %}
		<div>
			<label>
				<input 
			    type="radio" 
			    class="radio"
			    value="{{ optionValue }}"
					{%- if id is defined %} id="{{ id }}"{% endif %}
					{%- if handle is defined %} name="{{ handle }}"{% endif %}
					{%- if checked is defined and checked %} checked{% endif %}
					{%- if autofocus is defined and autofocus and not craft.request.isMobileBrowser(true) %} autofocus{% endif %}
					{% if loop.first and required %} required{% endif %}>
				{% if optionLabel is defined %}{{ optionLabel|raw }}{% endif %}
			</label>
		</div>
	{% endfor %}
	</div>
</div>