{% set bodyCopy = templateSettings.emailBodyCopy %}
{% set footerCopy = templateSettings.emailAdditionalFooterCopy %}
{% set sendSubmission = emailSettings.sendSubmissionData %}

{# TODO: finish email notification template #}
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="{{ templateSettings.emailBackgroundColor }}">

  <tr>
    <td>
      <table width="{{ templateSettings.emailContainerWidth }}" height="122" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td width="500">
            <a href="{{ siteUrl }}"><img src="{% for logo in customLogo %}{% set logo = logo.url %}{{ logo }}{% endfor %}" style="display: block; max-width: 500px;" /></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table width="{{ templateSettings.emailContainerWidth }}" border="0" cellspacing="0" cellpadding="0" align="center" style="border: 1px solid #edf1f4; border-radius: 3px; background: white;">
        <tr>
          <td style="padding: 20px;">
            {{ bodyCopy|raw }}
          </td>
        </tr>
        <tr>
          <td style="padding: 0 20px 20px 20px;">
            {% if sendSubmission %}
              <h2>{{ "Submission Data"|t }}</h2>
              <table style="width:100%;">
              {% for key, value in data %}
                {% set field = craft.fields.getFieldByHandle(key) %}
                {% if value %}
                <tr>
                  <td style="margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #eaecee;">
                    <h3 style="margin-bottom: 2px; margin-top: 5px;">{{ field.name }}</h3>
                    {% if value | checkArray == '1' %}
                      {% for key, item in value %}
                        {% if item != '' %}
                          {{ item }},  
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      <p style="margin: 5px 0;">{{ value|raw|nl2br }}</p>
                    {% endif %}
                  </td>
                </tr>
                {% endif %}
              {% endfor %}
              </table>

              {% if files %}
              <h2 style="margin-bottom: 0px;">{{ "File Uploads"|t }}</h2>
              <table style="width:100%;">
                <tr>
                  <td>
                    <ul>
                    {% for file in files %}
                      {% for item in file %}
                        <li>{{ item.getLink() }}</li>
                      {% endfor %}
                    {% endfor %}
                    </ul>
                  </td>
                </tr>
              </table>
              {% endif %}
            {% endif %}
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table width="{{ templateSettings.emailContainerWidth }}" height="100" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td style="padding: 20px;">
            {{ footerCopy|raw }}
          </td>
        </tr>
      </table>
    </td>
  </tr>

</table>