{% set bodyCopy = templateSettings.emailBodyCopy %}
{% set footerCopy = templateSettings.emailAdditionalFooterCopy %}
{% set sendSubmission = emailSettings.sendSubmissionData %}

{% if form is defined %}
  <h2>New {{ form.name }} Submission</h2>
  {{ bodyCopy |raw }}
{% endif %}

{% if sendSubmission %}
  <h2>{{ "Submission Data"|t }}</h2>
  <table style="width:100%;">
  {% for key, value in data %}
    {% set field = craft.fields.getFieldByHandle(key) %}
    {% if value %}
    <tr>
      <td style="margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #eaecee;">
        <h3 style="margin-bottom: 2px; margin-top: 5px;">{{ field.name }}</h3>
        {% if value | checkArray == '1' %}
          {% for key, item in value %}
            {% if item != '' %}
              {{ item }},  
            {% endif %}
          {% endfor %}
        {% else %}
          <p style="margin: 5px 0;">{{ value|raw|nl2br }}</p>
        {% endif %}
      </td>
    </tr>
    {% endif %}
  {% endfor %}
  </table>

  {% if files %}

  <hr />
  <h2>File Uploads</h2>
  <table style="width:100%;">
    <tr>
      <td>
        <ul>
        {% for file in files %}
          {% for item in file %}
            <li>{{ item.getLink() }}</li>
          {% endfor %}
        {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
  <hr />
  {% endif %}
{% endif %}

{% if form is defined %}
  {{ footerCopy |raw }}
{% endif %}